{% extends "chat/base.html" %}

{% load i18n %}

{% block title %}{% translate "Home" %}{% endblock %}

{% block content %}

<main class="container">
    {% if thread_list %}
    {% for thread in thread_list %}
    {% partialdef thread-card inline %}
    <article>
        <div class="flex-row flex-gap">
            <a href="{% url 'chat:thread_detail' thread.pk %}">{{ thread.thread_title }}</a>
            <!-- {{ thread.is_resolved }} -->
            <!-- {% if thread.is_resolved %} -->
            <!-- {% translate "Resolved" %} -->
            <!-- {% endif %} -->
            <label>
                <input type="checkbox" disabled {% if thread.is_resolved %} checked {% endif %}>
                {% translate "Resolved" %}
            </label>
            <span>
                {{ thread.author }}
            </span>

            {% for w in thread.watchers.all %}
            <span>
                {{ w.name }}
            </span>
            {% endfor %}
        </div>
        <section>
            <div class="flex-row flex-gap">
                <p>
                    {% if thread.latest_message_author %}
                    {{ thread.latest_message_author }}
                    {% else %}
                    {{ thread.author }}
                    {% endif %}
                </p>
                <p>
                    {% if thread.latest_message_body %}
                    {{ thread.latest_message_body }}
                    {% else %}
                    {{ thread.body }}
                    {% endif %}
                </p>
            </div>
        </section>
    </article>

    {% endpartialdef %}
    {% endfor %}
    {% else %}
    <p>No threads are available. Would you like to create one?</p>
    {% endif %}
</main>
{% endblock %}
