{% extends "chat/base.html" %}

{% load i18n %}

{% block title %}{% translate "Home" %}{% endblock %}

{% block content %}

<body>
    <main>
        <h1>
            {% translate "Chat index page!" %}
        </h1>
        {% if user.is_authenticated %}
        <p>
            {{user.username}}
            {% blocktranslate with username=user.username %}Hi {{username}}!{% endblocktranslate %}
        </p>
        <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit">{% translate "Log out" %}</button>
        </form>
        {% else %}
        <p>{% translate "You are not logged in." %}</p>
        <a href="{% url 'chat:login' %}">{% translate "Log in" %}</a>
        {% endif %}
    </main>
</body>
{% endblock %}
