{% extends "chat/base.html" %}

{% load i18n %}

{% block title %}
{% if is_new %}
{% translate "New Thread" %}
{% else %}
{% translate "Edit Thread" %}
{% endif %}
{% endblock %}

{% block content %}

<main class="container">
    <article>
        <form method="post" action="{{action}}">
            {% csrf_token %}
            <fieldset>
                <label>
                    {% if is_new %}
                    {% translate "New Thread" %}
                    {% else %}
                    {% translate "Edit Thread" %}
                    {% endif %}
                    <input name="thread_title" type="text" value="{{ thread.thread_title }}">
                </label>
                <label>
                    {% translate "Watchers" %}
                    <select name="watchers" multiple>
                        {% for m in members %}
                        <option value="{{m.id}}" {% if m.is_watcher %}selected{% endif %}>
                            <!-- <option value="{{m.id}}" selected> -->
                            {% if m.first_name or m.last_name %}
                            {{m.first_name}} {{m.last_name}}
                            {% else %}
                            {{m.username}}
                            {% endif %}
                        </option>
                        {% endfor %}
                    </select>
                </label>

                <label>
                    {% translate "Description" %}
                    <textarea name="body">{{ thread.body }}</textarea>
                </label>
            </fieldset>
            <button type="submit">
                {% if is_new %}
                {% translate "Create thread" %}
                {% else %}
                {% translate "Update Thread" %}
                {% endif %}
            </button>
        </form>
    </article>

</main>
{% endblock %}
