{% extends "chat/base.html" %}

{% load i18n %}

<!-- TODO: Make the title the title of the thread -->
{% block title %}{% translate "Thread" %}{% endblock %}

{% block content %}
<main>
    <article>
        <h3>{{ object.thread_title }} </h3>
        <p>{{ object.body }}</p>
        <div class="flex-row">
            <span>{{ object.author }}</span>
            {% for watcher in object.thread_watchers %}
            <span>{{ watcher }}</span>
            {% endfor %}
        </div>
    </article>
    <section id="message-list">
        {% for message in messages %}
        {% partialdef message_display inline %}
        <article class="flex-row flex-gap">
            <div>
                {{ message.author }}
            </div>
            <div>
                {{ message.body }}
            </div>
        </article>
        {% endpartialdef %}
        {% endfor %}
    </section>
</main>
<footer>
    <article hx-ws:connect="/ws/chat/{{object.pk}}" hx-target="#message-list" hx-swap="append" class="container">
        <form hx-ws:send id="chat-form">
            {% partialdef message_form inline %}
            <textarea name="message" autocomplete="off"></textarea>
            <button type="submit">{% translate "Send" %}</button>
            {% endpartialdef %}
        </form>
    </article>
</footer>
{% endblock %}
