{% extends "chat/base.html" %}

{% load static %}
{% load i18n %}

<!-- TODO: Make the title the title of the thread -->
{% block title %}{% translate "Thread" %}{% endblock %}


{% partialdef unresolved-thread-button %}
<button id="thread-resolve" hx-ws:send hx-vals='{"action": "thread-resolve"}'>
    {% translate "Resolve Thread" %}
</button>
{% endpartialdef %}

{% partialdef resolved-thread-button %}
<button id="thread-resolve" hx-ws:send hx-vals='{"action": "thread-unresolve"}'>
    {% translate "Reopen Thread" %}
</button>
{% endpartialdef %}

{% block content %}
<main>
    {% partialdef thread-header inline %}
    <article hx-ws:connect="/ws/chat/{{thread.pk}}" hx-target="#thread-resolve" hx-swap="outerHTML">
        <div class="flex-row">
            <h3>{{ thread.thread_title }} </h3>
            {% if thread.is_edited %}
            <span class="no-border" data-tooltip="{% translate 'Edited' %}">
                {% include "chat/svg/pencil.html" %}
            </span>
            {% endif %}
            {% if is_author %}
            {% if thread.is_resolved %}
            {% partial resolved-thread-button %}
            {% else %}
            {% partial unresolved-thread-button %}
            {% endif %}
            <a href="{% url 'chat:thread_edit' thread.pk %}">Edit Thread</a>
            {% endif %}
        </div>
        <p>{{ thread.body }}</p>
        <div class="flex-row flex-gap">
            <p>{% translate "Participants:" %}</p>
            <span>{{ thread.author }}</span>
            {% for w in thread.watchers.all %}
            <span>{{ w }}</span>
            {% endfor %}
        </div>
    </article>
    {% endpartialdef %}
    <section id="message-list">
        {% for message in messages %}
        {% partialdef message_display inline %}
        <article class="flex-row flex-gap">
            <div>
                {{ message.author }}
            </div>
            <div>
                {{ message.body }}
            </div>
        </article>
        {% endpartialdef %}
        {% endfor %}
    </section>
</main>
<footer>
    <article hx-ws:connect="/ws/chat/{{thread.pk}}" hx-target="#message-list" hx-swap="append" class="container">
        <form hx-ws:send id="chat-form" hx-on:htmx:after:ws:send="this.reset()">
            {% partialdef message_form inline %}
            <input type="hidden" name="action" value="message-new">
            <textarea name="message" autocomplete="off"></textarea>
            <button type="submit">{% translate "Send" %}</button>
            {% endpartialdef %}
        </form>
    </article>
</footer>
{% endblock %}
