body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
    padding-block: 0 !important;
}

body>header+main {
    /* border-top: black solid 1px; */
    --pico-border-color: var(--pico-muted-border-color);
    --pico-box-shadow: var(--pico-button-box-shadow, 0 0 0 rgba(0, 0, 0, 0));
    border-top: var(--pico-border-width) solid var(--pico-border-color);
}


nav h1,
nav h2,
nav h3,
nav h4,
nav h5,
nav h6 {
    margin-bottom: 0;
}

header>nav {
    padding: 0 30px;
}

nav details.dropdown {
    display: inline-block;
}

dialog footer>button[type=submit] {
    width: unset;
}

/* button.link { */
/*     border: none; */
/*     background: none; */
/*     cursor: pointer; */
/*     padding: 0; */
/* } */

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-gap {
    gap: 20px;
}

.content {
    flex: 1 0 auto;
}

.centre-container {
    justify-content: center;
    align-items: center;
}

.centre-card {
    max-width: 480px;
    margin: auto;
    justify-content: center;

}

.sidebar-left,
.sidebar-right {
    width: 250px;
    padding: 10px;
    /* height: 100%; */
}

.sidebar-left {
    border-radius: 0 5px 5px 0;
}

[class*=" icon"],
[class^=icon] {
    display: inline-block;
    /* width: 1em; */
    /* height: 1em; */
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
    /* stroke: inherit; */
    /* fill: inherit; */
    line-height: 1;
    position: relative;
    top: -.05em;
    vertical-align: middle;
}

details.dropdown>summary+ul li button {
    display: block;
    margin: calc(var(--pico-form-element-spacing-vertical) * -.5) calc(var(--pico-form-element-spacing-horizontal) * -1);
    padding: calc(var(--pico-form-element-spacing-vertical) * .5) var(--pico-form-element-spacing-horizontal);
    overflow: hidden;
    border-radius: 0;
    color: var(--pico-dropdown-color);
    text-decoration: none;
    text-overflow: ellipsis;
    background: none;
    border: none;
    cursor: pointer;
}
